name: Lint PR title

on:
  pull_request_target:
    types: [closed]

jobs:
  lint-pr-title:
    name: Lint PR title
    runs-on: ubuntu-latest
    steps:
      # Since this workflow is REQUIRED for a PR to be mergable, we have to have this 'if' statement in step level instead of job level.
      - if: ${{ !contains(fromJson('["asyncapi-bot", "dependabot[bot]", "dependabot-preview[bot]", "allcontributors"]'), github.actor) }}
        uses: amannn/action-semantic-pull-request@v5.0.0
        id: lint_pr_title
        env:
          GITHUB_TOKEN: ${{ secrets.TEST_TOKEN}}
        with:
          subjectPattern: ^(?![A-Z]).+$
          subjectPatternError: |
            The subject "{subject}" found in the pull request title "{title}" should start with a lowercase character.

      # Comments the error message from the above lint_pr_title action
      - if: ${{ always() && steps.lint_pr_title.outputs.error_message != null && !contains(fromJson('["asyncapi-bot", "dependabot[bot]", "dependabot-preview[bot]", "allcontributors"]'), github.actor)}}
        name: Comment on PR
        uses: marocchino/sticky-pull-request-comment@v2.3
        with:
          header: pr-title-lint-error
          GITHUB_TOKEN: ${{ secrets.TEST_TOKEN}}
          message: |
          We require all pull request titles to follow the [Conventional Commits specification](https://www.conventionalcommits.org/en/v1.0.0/). Please update the title of this pull request to follow the specification. The error message is:
          ``` ${{ steps.lint_pr_title.outputs.error_message }}```
        # deletes the error comment if the title is correct
      - if: ${{ steps.lint_pr_title.outputs.error_message == null }}
        name: delete the comment
        uses: marocchino/sticky-pull-request-comment@v2.3
        with:
          header: pr-title-lint-error
          delete: true
          GITHUB_TOKEN: ${{ secrets.TEST_TOKEN}}